/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
body {
/*your style rules go in here */
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used  */
img {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

div
{
  padding: 30px 50px;
  margin: 10px auto;
  width: 75%;
  border: 1px black;
  border-style: dashed;
  overflow: auto;

}


/* If you ahe created any new stlyes in InDesign and used export tags then you need to add them here */


body {
font-family: optima, sans-serif;

}


h1 {
color:rgb(235, 209, 142) ;
font-family: optima, sans-serif;
text-align: center;
}



}

@media only screen and (min-width: 600px) {
  img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-left: auto;
    float: right;

  }


}
